<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A+BuffetOmaha</title>
</head>
<body>
  <header>
    <h1>A+ Buffet</h1>
    <h3>Chinese, Seafood, & Mongolian Grill</h3>
    <nav>
      <span>Home</span>
      <span>Menu</span>
      <span>Catering</span>
    </nav>
  </header>

  <!-- Restaurant name with image in full background -->
  <div>
    <img src="" alt="">
    <h1>A+ Buffet</h1>
    <h3>Chinese, Seafood, & Mongolian Grill</h3>
  </div>

  <!-- Reviews / Testimonials -->
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui earum optio nam sequi enim! Ad consequatur voluptatem error natus repudiandae ipsum temporibus! Beatae earum id at eligendi saepe voluptatum distinctio.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, explicabo sunt. Eius ullam qui iste similique asperiores, facere saepe, illo pariatur laborum cumque doloribus accusantium nemo accusamus vero consectetur sequi.</p>
  </div>

  <!-- Contact Us -->
  <div>
    <ul>
      <li>Address</li>
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>
  </div>
  
</body>
</html>